{% extends 'base.html' %}
{% block todo %}
<div class="container">
    <form action="/update/{{todo.sno}}" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Title</label>
          <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{todo.title}}" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Description</label>
          <input type="text" name="desc" class="form-control" id="exampleInputPassword1" value="{{todo.desc}}" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
{% endblock todo %}